#image1{font-size: 140px;  text-align: center;color: white;}
#nav{font-size: 40px; font-style: oblique;}

a:link{color:black}
a:visited{color:hotpink;}
a:hover{color:green;}
h1,h2{font-style:italic; font-size: 35px;}
p,ul{font-size: 25px;}
#style{font-size: 50px; font-style: italic;}
#world{font-size: 50px; font-style: italic;bor}
